<app-navbar></app-navbar>
<header class="masthead" style="background-image: url('assets/images/cover.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>What is Lorem Ipsum?</h1>
            <span class="subheading">"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece"</span>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div *ngFor="let article of articleList">
          <div class="post-preview">
            <a (click)="openArticleDetail(article._id)" >
              <h2 class="post-title">
                {{article.title}}
              </h2>
              <h3 class="post-subtitle">
                {{article.description}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#" *ngIf="'article.username'">{{article.username}}</a>
              <a href="#" *ngIf="'!article.username'">......</a>
              on September 24, 2019</p>
          </div>
          <hr>
        </div>

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-outline-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
</div>

<app-footer></app-footer>
